/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "L5R-font";
  src: url(./assets/fonts/L5R-font.woff) format("woff");
}

.l5r-font {
  font-family: "L5R-font";
}
